.projects-bg {
    background-color: whitesmoke;
}

.projects-container{
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-p1, 
.photo-p2,
.photo-p3 {
    width: 100%;
    height: 100%;
    box-shadow: grey 3px 3px 8px;
}

.photo-p1:hover, 
.photo-p2:hover,
.photo-p3:hover {
    opacity: 0.5;
}

.hidden-info-btn1, 
.hidden-info-btn2,
.hidden-info-btn3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.extended-info1, 
.extended-info2,
.extended-info3 {
    width: 70%;
    height: auto;
    position: absolute;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: grey 3px 3px 8px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: black;
    animation-play-state: paused;
}

.extended-info1 p,
.extended-info2 p,
.extended-info3 p {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.close-extended {
   align-self: flex-end;
   cursor: pointer;
   margin-top: 2%;
   margin-right: 5%;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -4%;
}

.links-to-demo-code {
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.links-to-demo-code:hover {
    text-decoration: none;
    color: black;
}

.buttons-icons {
    width: 60px;
    height: 20px;
}

.projects-containers {
    position: relative;
    width: 32%;
    margin-left: 1%;
    border: grey 1px solid;
}

.projects-photos {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

.below-projects-text {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.technologies-icons {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.about-title,
.technologies-title,
.links-to-demo-title {
    font-size: 20px;
    font-weight: 700;
}