@media screen and (max-width: 830px) { 
    .about-me-container {
        height: auto;
        width: 90%;
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .my-picture {
        margin-bottom: 10%;
        width: 150px;
        height: 130px;
        margin-top: 0;
    }

    .about-me-title {
        margin-top: 15%;
        margin-left: 10%;
    }

    .skills-title {
        margin-bottom: 10%;
    }

    .courses-text {
        font-size: 15px;
    }

    .courses-icons {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-left: 3%;
    }

    .skills-icons {
        width: 30px;
        height: 30px;
        align-self: center;
        margin-bottom: 10px;
    }

    .skills-containers p {
        font-size: 13px;
    }
}